
  .product {
    @apply flex justify-center items-center
    relative z-30 w-full max-w-[1029px] lg:h-[751px] h-auto
    rounded-[16px] border-solid border-[0.67px] border-[#FFFFFF1A] p-2 max-md:p-2.5 mt-[15px];
    box-shadow: 0 0 0 6px #FFFFFF08 inset;
  
    .product-container {
      @apply relative flex flex-col max-lg:flex-col w-full h-full max-w-[1009px] gap-[8px] rounded-[8px] items-center;
      backdrop-filter: blur(100px);
      box-shadow: 2px 4px 16px 0 #F8F8F80F inset;
      // img:nth-child(1) {
      //   @apply absolute left-0 max-md:hidden;
      // }
      // img:nth-child(2) {
      //   @apply absolute md:hidden w-full h-full top-0 object-top object-contain z-10;
      // }
      form {
        @apply flex flex-col items-center justify-center max-md:justify-end w-full lg:max-w-[528px] md:max-w-[50%] h-full p-4 gap-6 z-20;
        .text-content {
          @apply w-full flex flex-col gap-2;
          span:first-child {
            @apply text-[#F8F8F8F2] text-[18px] font-medium text-left max-md:text-center max-md:text-[14px];
            font-family: Inter, sans-serif;
          }
  
          span:nth-child(2), span:last-child {
            @apply text-[#9D9D9D] text-[14px] font-normal text-left max-md:text-center max-md:text-[12px];
            font-family: Inter, sans-serif;
          }
        }
        .input {
          @apply relative flex justify-between w-full h-[50px] ;
          padding: 4px 4px 4px 16px;
          border-radius: 44px;
          border: 1px solid #5b5b5b;
          background: #1A1A1A;
          input {
            @apply w-full h-full;
            caret-color: #828282;
            color: white;
            background: none;
          }
          input:focus {
            outline: none;
          }
          input::placeholder {
            @apply text-[14px];
            color: #828282;
  
          }
          button {
            @apply w-[120px] h-full bg-white px-2 rounded-[20px] text-black;
            font-family: Inter,sans-serif;
            font-size: 12px;
            font-weight: 400;
          }
          button:hover {
            background: #6CD596;
          }
        }
      }
    }
  }


.product-container {
  position: relative;
}


.slide-down {
  animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.slide-up {
  animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

  